TestService/Connected Services/ServicesBAS/ProductsService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="BAS.ServiceModel" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BAS.ServiceModel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="BAS.ServiceModel/Imports">
      <xsd:import schemaLocation="http://localhost/ServicesBAS/ProductsService.svc?xsd=xsd0" namespace="BAS.ServiceModel" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/ProductsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/ProductsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BAS.DataModelLibrary" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/ProductsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProductsService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ProductsService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ProductsService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ProductsService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByID" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByType" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByColor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByColor" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByColor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByColorResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByManufacturer" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByPrice" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByName" />
  </wsdl:message>
  <wsdl:message name="ProductsService_GetByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="ProductsService">
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/Delete" message="tns:ProductsService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/DeleteResponse" message="tns:ProductsService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/Create" message="tns:ProductsService_Create_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/CreateResponse" message="tns:ProductsService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/Update" message="tns:ProductsService_Update_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/UpdateResponse" message="tns:ProductsService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetAll" message="tns:ProductsService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetAllResponse" message="tns:ProductsService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByID">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByID" message="tns:ProductsService_GetByID_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByIDResponse" message="tns:ProductsService_GetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByType">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByType" message="tns:ProductsService_GetByType_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByTypeResponse" message="tns:ProductsService_GetByType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByColor">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByColor" message="tns:ProductsService_GetByColor_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByColorResponse" message="tns:ProductsService_GetByColor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByManufacturer">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByManufacturer" message="tns:ProductsService_GetByManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByManufacturerResponse" message="tns:ProductsService_GetByManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByPrice">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByPrice" message="tns:ProductsService_GetByPrice_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByPriceResponse" message="tns:ProductsService_GetByPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByName">
      <wsdl:input wsaw:Action="BAS.ServiceModel/ProductsService/GetByName" message="tns:ProductsService_GetByName_InputMessage" />
      <wsdl:output wsaw:Action="BAS.ServiceModel/ProductsService/GetByNameResponse" message="tns:ProductsService_GetByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>