TestService/Connected Services/CustomerService/CustomersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ServiceModel" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ServiceModel" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ServiceModel/Imports">
      <xsd:import schemaLocation="http://localhost/ServicesBAS/CustomersService.svc?xsd=xsd0" namespace="ServiceModel" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/CustomersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/CustomersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataModelLibrary" />
      <xsd:import schemaLocation="http://localhost/ServicesBAS/CustomersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CustomersService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CustomersService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="CustomersService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="CustomersService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetFromTo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFromTo" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetFromTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFromToResponse" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBy" />
  </wsdl:message>
  <wsdl:message name="CustomersService_GetBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomersService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/Create" message="tns:CustomersService_Create_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/CreateResponse" message="tns:CustomersService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/Update" message="tns:CustomersService_Update_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/UpdateResponse" message="tns:CustomersService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/Delete" message="tns:CustomersService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/DeleteResponse" message="tns:CustomersService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/GetAll" message="tns:CustomersService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/GetAllResponse" message="tns:CustomersService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFromTo">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/GetFromTo" message="tns:CustomersService_GetFromTo_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/GetFromToResponse" message="tns:CustomersService_GetFromTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBy">
      <wsdl:input wsaw:Action="ServiceModel/BaseService/GetBy" message="tns:CustomersService_GetBy_InputMessage" />
      <wsdl:output wsaw:Action="ServiceModel/BaseService/GetByResponse" message="tns:CustomersService_GetBy_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>